<!DOCTYPE html>
<html>
<body>

<h1>My First Google Map</h1>

<div id="map" style="width:100%;height:800px;"></div>

<script>
    
function myMap() {

  var locations = [
    ['Raj Ghat', 28.648608, 77.250925, 1],
    ['Red Fort', 28.663973, 77.241656, 3],
    ['Jantar Mantar', 28.636219, 77.213846, 5],
    ['India Gate', 28.620585, 77.228609, 4],
    ['Purana Qila', 28.618174, 77.242686, 2],
    ['Akshardham', 28.622658, 77.277704, 6]
  ];

//----Map Property------#
var mapProp= {
  center:new google.maps.LatLng(21.7679, 78.8718),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("map"),mapProp);
var infowindow = new google.maps.InfoWindow();
var marker, i, coords = [] 

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
    });
    google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
        }
    })(marker, i));

    coords.push(new google.maps.LatLng(locations[i][1], locations[i][2]));
  }

  var line = new google.maps.Polyline({
    path: coords,
    geodesic: true,
    strokeColor: '#4986E7',
    strokeOpacity: 1.0,
    strokeWeight: 2,
  }); 
  line.setMap(map);

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=&callback=myMap"></script>

</body>
</html>