Package         Version
--------------- -------
attrs           21.4.0
boto3           1.24.30
botocore        1.27.30
iniconfig       1.1.1
jmespath        1.0.1
packaging       21.3
pip             22.1.2
pluggy          1.0.0
py              1.11.0
pycryptodome    3.15.0
pyparsing       3.0.9
pytest          7.1.2
python-dateutil 2.8.2
s3transfer      0.6.0
secret          0.8
setuptools      62.6.0
six             1.16.0
sockets         1.0.0
tabulate        0.8.10
tomli           2.0.1
urllib3         1.26.10
wheel           0.37.1
